.paginaInsertarDisco {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 500px;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.botonFormulario {
    background-color: dodgerblue;
    color: white;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
}

.generoMusical {
    margin-left: 15px;
}

.nombreGenero {
    margin-right: 15px;
}

.contenedorInformacion {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 2px darkslateblue;
    border-radius: 5px;
    margin-left: 20px;
    height: 455px;
    background-color: rgb(163, 152, 230);
}

h6 {
    color: white;
}

.errores {
    border: solid 2px gray;
    border-radius: 5px;
    height: 305px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

.error {
    color: brown;
    text-align: left;
    font-size: small;
}