#cuerpoAdministrarRoles {
    color: rgb(155, 137, 47);
    width: 100%;
}

#tituloAdministrarRoles {
    margin-left: auto;
    margin-right: auto;
    border: solid 2px;
    width: 300px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255,0.4);
}

#cuerpoAdministrarRoles .campoFormulario {
    display: flex;
    gap: 10px;
    justify-content: right;
    margin-bottom: 10px;
    margin-right: 7%;
}

#cuerpoAdministrarRoles #botonAsignarRol{
    margin-top: 20px;
}

#contFormAdministrarRol {
    background-color: rgba(187, 187, 187, 0.4);
    border: solid 2px rgb(155, 137, 47);
    padding: 10px 15px;
    border: solid 2px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}