#cuerpoCrearProducto {
    color: rgb(255, 237, 138);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cuerpoCrearProducto h3 {
    color: rgb(155, 137, 47);
    margin-left: auto;
    margin-right: auto;
    border: solid 2px;
    width: 300px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255,0.4);
}

#contFormRegistrarProducto .campoFormulario {
    display: flex;
    gap: 10px;
    justify-content: right;
    margin-bottom: 10px;
    margin-right: 7%;
}

select, input{
    width: 170px;
}

select{
    margin-right: 8px;
}

#contFormRegistrarProducto #botonGuardar{
    margin-top: 20px;
}

#contFormRegistrarProducto {
    background-color: rgba(187, 187, 187, 0.4);
        border: solid 2px rgb(155, 137, 47);
    color: rgb(101, 89, 31);
    padding: 10px 15px;
    border: solid 2px;
    border-radius: 5px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}