#cuerpoInicioRegistro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
}


#marcoRegistro{
    width: 400px;
}

#marcoLogin{
    width: 400px;
}

#marcoRegistro form{
    box-sizing: border-box;
    background-color: lightgreen;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: left;
}

.campoFormulario{
    margin-bottom: 10px;
    text-align: right;
    margin-right: 20%;
}

#cuerpoInicioRegistro h3, h2{
    color: rgb(155, 137, 47);
}

#formularioRegistro .campoFormulario{
    color: rgb(94, 165, 94);
}

.botonFormulario{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#marcoLogin form{
    box-sizing: border-box;
    color: white;
    background-color: rgb(94, 165, 94);
    border-radius: 5px;
    padding: 10px 15px;
    text-align: left;
}