#cuerpoInicio h3{
    background-color: rgba(255, 255, 255,0.4);
    border: solid 2px black;
    border-radius: 5px;
    padding: 5px;
}

ul li{
    font-size: 13px;
    text-align: left;
}

ul{
    width: 500px;
}