#cuerpoVerListados {
    color: rgb(155, 137, 47);
    width: 100%;
}

#cuerpoVerListados #tituloPagina{
        margin-left: auto;
    margin-right: auto;
    border: solid 2px;
    width: 300px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255,0.4);
}

#cuerpoVerListados #contenedorListado{
    width: 100%;
}