#cuerpoVerPerfil #formDatosUsuario img{
    height: 100px;
    margin-bottom: 15px;
}

#cuerpoVerPerfil #formDatosUsuario .campoFormulario {
    display: flex;
    gap: 10px;
    justify-content: right;
    margin-bottom: 10px;
    margin-right: 7%;
}

#cuerpoVerPerfil {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#formDatosUsuario {
    background-color: rgb(209, 209, 209);
    border: solid 2px rgb(101, 101, 101);
    color: rgb(101, 101, 101);
    padding: 10px 15px;
    border: solid 2px;
    border-radius: 5px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

#formDatosUsuario #botonActualizarPerfil {
    margin-top: 20px;
}