#cuerpoVerProductos{
    color: rgb(155, 137, 47);
    width: 100%;

}

#tituloPagina{
    margin-left: auto;
    margin-right: auto;
    border: solid 2px;
    width: 300px;
    border-radius: 5px;
}

#barraBotones{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#cuerpoFiltros{
    border: dashed 2px rgb(155, 137, 47);
    box-sizing: border-box;
    padding: 0px 15px 15px;
    border-radius: 5px;
}

.botonOrdenar{
width: 100px;
margin-left: auto;
margin-right: auto;
}

#cuerpoBotones{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#cuerpoOrdenar{
    border: solid 2px rgb(155, 137, 47);
    box-sizing: border-box;
    padding: 0px 15px 20px;
    border-radius: 5px;
}

.filtro{
    background-color: lightgreen;
    color: rgb(94, 165, 94);
    box-sizing: border-box;
    padding: 10px 15px;
    border: solid 2px rgb(94, 165, 94);;
    border-radius: 5px;
    margin-bottom: 5px;
}

#contenedorListado{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    background-color: lightgreen;
    padding: 10px 15px;
    border-radius: 5px 5px 0px 0px;
}

#marcoListado{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

#cuerpoCompleto{
width: 70vw;
margin-bottom: 20px;
}

#valoresFinales{
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
}

#seccionListado{
        border: solid 2px rgb(94, 165, 94);
        border-radius: 5px;
}