nav{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 5px 10px;
}

.botonMenu {
    background-color: rgb(94, 165, 94);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    width: 120px;
    text-align: center;
}