#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ENCABEZADO */
.estiloEncabezado {
  background-color: lightblue;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.estiloCuerpo {
  flex: 1;
  color: black;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  overflow-y: auto;
}

.estiloPieDePagina {
  background-color: rgb(106, 115, 119);
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.estiloPieDePagina small {
  margin: 0px 20px;
  color: white;
}
