.navegacionPagina {
    background-color: darkslateblue;
    height: 60px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonNavegacionPagina {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    width: 100px;
}