.cajaLikesDislikes_alert {
    width: 300px;
    border: 5px solid black;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
}

.cajaLikesDislikes_alert .likes {
    display: inline-block;
    background-color: rgb(39, 201, 66);
    color: white;
    margin: 5px;
    border: solid 5px rgb(19, 112, 35);
}

.cajaLikesDislikes_alert .dislikes {
    display: inline-block;
    background-color: rgb(255, 55, 55);
    color: white;
    margin: 5px;
    border: solid 5px rgb(121, 18, 18);
}