.footerPagina {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: darkslateblue;
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 1000;
}

.datoFooter {
    margin: 20px;
}