body{
    display: flex;
}

#main{
    position: relative;
    display: flex;
}

#listadoPeliculas{
    box-sizing: border-box;
    border: solid 2px black;
    border-radius: 5px;
    padding: 0px 15px;
    justify-content: center;
    width: auto;
    font-size: 0.9em;
}

#detallesPelicula{
    border: solid 2px black;
    border-radius: 5px;
    background-color: lightcyan;
    margin: 0px 10px;
    box-sizing: border-box;
    padding: 0px 15px;
    width: 300px;
}

#favoritos{
    border: solid 2px black;
    border-radius: 5px;
    background-color:lightsalmon;
    margin: 0px 10px;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    height: 220px;
    width: 300px;
}

.campoFormulario{
    margin: 10px 0px;
}

li{
    display: flex;
    align-items: center;
    gap: 10px;
    list-style-type:circle;
}

a{
    text-align: center;
    display: block;
    background-color: royalblue;
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin: 5px 0px;
}

#contenedor1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contenedorLateral{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 320px;
    gap: 10px;
}

#contendorMostradorFavoritos {
    border: solid 2px black;
    border-radius: 5px;
    position: absolute;
    left: 640px;
    padding: 10px;
    box-sizing: border-box;
}

#mostradorFavoritos {
    width: 650px;
}

td{
    padding: 10px;
}

.imagenPapelera{
    width: 30px;
}