.contenedor_alerta {
    border: 2px solid rgb(0, 55, 255);
    padding: 15px;
    width: 1000px;
    color: rgb(0, 55, 255);
    text-align: left;
    background-color: rgb(183, 185, 255)
}

.pie_de_pagina {
    background-color: rgb(65, 65, 65);
    color: white;
    text-align: left;
    padding: 10px;
}

.cuerpo_de_pagina{
}