.contadorLimite_alert {
    border: 5px solid black;
    padding: 20px;
    border-radius: 10px;
}

.contadorLimite_alert button {
    background-color: rgb(218, 53, 53);
    color: white;
    margin: 5px;
}