.interprete_alert{
    border: 2px solid green;
    padding: 10px;
    padding-bottom: 40px;
    color: green;
    background-color: rgb(178, 255, 193);
    margin: 10px;
}

h2 {
  margin-left: 10px;
}

.peliculaElenco_alert img {
  width: 70px;
}

.peliculaElenco_alert {
  height: 150px;
  align-items: center;
}