.peliculaContenedor_alert {
  border: 2px solid rgb(88, 86, 0);
  padding: 15px;
  width: 550px;
  color: rgb(214, 153, 0);
  background-color: rgb(255, 255, 161);
}

.peliculaInterprete_alert {
  background-color: rgb(240, 255, 200);
  padding: 5px;
}

.peliculaElenco_alert {
  background-color: brown;
  padding: 8px;
  margin-bottom: 10px;
  color: white;
  height: 210px;
}

.peliculaInterprete_alert .imagen img {
  width: 100%;
  max-width: 140px;
  height: auto;
  padding: 10px;
}

.peliculaElenco_alert .imagen img {
  width: 80px;
  height: auto;
}
