form {
    width: 500px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
}

#botonRegistrar {
    margin-top: 10px;
    padding: 5px;
}