img {
    width: 160px;
}

#expositor_imagenes {
    width: 1530px;
    height: 100px;
    border: solid 2px black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

#expositor_imagenes img {
    display: inline-block;
    margin: 5px;
}

#tablero_puzzle {
    margin-top: 10px;
    width: 494px;
    border: solid 2px black;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 160px;
    height: 90px;
    background-color: gray;
    border: solid 0px black;
}

#cuadro_reiniciar {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

td img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

h1 {
    text-align: center;
}