.aviso {
    box-sizing: border-box;
    padding: 10px 15px;
    position: absolute;
    bottom: 2%;
    right: 2%;
    width: 400px;
}

.aviso-exito {
    border: solid 2px rgb(94, 165, 94);
    background-color: lightgoldenrodyellow;
    color: rgb(94, 165, 94);
    border-radius: 5px;
}

.aviso-error {
    border: solid 2px lightcoral;
    background-color: wheat;
    color: red;
    border-radius: 5px;
}

.oculto {
    display: none;
}

.avisoRegistro {
    top: 70px;
    left: 330px;
}

.avisoLogin {
    top: 110px;
    left: 970px;
}