#marcoConfirmacion{
    position: fixed;
        bottom: 2%;
    right: 2%;
    box-sizing: border-box;
    border: solid 2px;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: white;
}

#marcoConfirmacion .decision{
    display: flex;
    justify-content: space-around;
}

.decision input{
    width: 130px;
}