.cabecera {
    box-sizing: border-box;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    color: rgb(94, 165, 94);
    padding: 10px 15px;
}

.cabecera h3 {
    color: white;
    margin-left: 65px;
}

.iniciarSesion h3{
    margin-left: 0px;
    color: rgb(94, 165, 94);
}

.iniciarSesion {
    width: 330px;
    box-sizing: border-box;
    background-color: white;
    color: rgb(94, 165, 94);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 15px;
    border-radius: 5px;
}

.cerrarSesion{
    box-sizing: border-box;
    font-size: small;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 15px;
    border-radius: 5px;
}

.cuerpo {
    box-sizing: border-box;
    background-color: rgb(255, 237, 138);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    overflow-y: auto;
}

.piePagina {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
    padding: 10px 0;
}


.piePagina small {
    margin: 0px 20px;
}