.cabecera {
    box-sizing: border-box;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    color: rgb(94, 165, 94);
    padding: 10px 15px;
}

.cabecera h3 {
    color: rgb(94, 165, 94);
    border: dashed;
    margin-left: 65px;
    box-sizing: border-box;
    padding: 0px 15px;
    border-radius: 5px;
}

.cerrarSesion h3{
    display: none;
}

.iniciarSesion h3{
    background-color: rgba(200, 200, 200, 0);
    font-size:medium;
    border: 0px;
    margin-left: 0px;
    color: rgb(94, 165, 94);
}

.iniciarSesion {
    width: 340px;
    box-sizing: border-box;
    background-color: white;
    color: rgb(94, 165, 94);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 15px;
    border-radius: 5px;
}

.cerrarSesion div{
    box-sizing: border-box;
    position: absolute;
    right: 10px;
    top: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 15px;
    border-radius: 5px;
}

.cerrarSesion #imagenPerfil{
    box-sizing: border-box;
    height: 60px;
    border: solid 3px #1d9dbd;
    border-radius: 50%;
}

.cuerpo {
    box-sizing: border-box;
    background-color: rgb(255, 237, 138);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    overflow-y: auto;
}

.piePagina {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
    padding: 10px 0;
}


.piePagina small {
    margin: 0px 20px;
}