#cuerpoEditarProducto{
    position: fixed;
    left: 2%;
    bottom: 2%;
    background-color: rgb(255, 231, 111);
    box-sizing: border-box;
    border: solid 2px;
    border-radius: 5px;
    height: 350px;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

#contFormEditarProducto form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#botones {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#botones input{
    width: 110px;
}