#marcoImagenesPerfil{
    box-sizing: border-box;
    border: solid 2px rgb(101, 101, 101);
    border-radius: 5px;
    background-color: rgb(228, 212, 73);
    position: absolute;
    padding: 15px 15px;;
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 45%;
    top:17%;
    left:27%;
}

#marcoImagenesPerfil img {
    height: 90px;
}