#marcoAgregarProductos{
    position: fixed;
    left: 1%;
    top: 25%;
    width: 20%;
    border: solid 2px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0px 10px;
    background-color: rgba(255, 255, 255,0.4);
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y:auto;
}