.plantillaProducto{
    background-color: rgb(94, 165, 94);
    display: flex;
    box-sizing: border-box;
    padding: 10px 15px;
    color: white;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    gap: 10px;
    border-radius: 5px;
    position: relative;
}

.plantillaProducto img{
    height: 100px;
    border-radius: 5px;
}

.plantillaProducto #cuadroBotones{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#cuadroBotones img{
    height: 40px;
}

.plantillaProducto .datosPrincipales{
    box-sizing: border-box;
    border-radius: 5px;
    border: dashed 2px;
    width: 42%;
    padding: 0px 10px;
}

.plantillaProducto .datosPrincipales p{
    font-size: small;
}

.plantillaProducto .datosSecundarios{
    margin-left: -3%;
    width: 25%;
}

.plantillaProducto .datosSecundarios #lista{
    text-align: left;
}

.plantillaProducto .cantidadListado{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 0px;
    border-radius: 50%;
    left: 10px;
    top: 0px;
    color: rgb(155, 137, 47);
    border: solid 2px;
    background-color: rgba(255, 255, 255,0.8);
}