.plantillaProducto{
    background-color: rgb(94, 165, 94);
    display: flex;
    box-sizing: border-box;
    padding: 10px 15px;
    color: white;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    gap: 20px;
    border-radius: 5px;
}

.plantillaProducto img{
    height: 100px;
    border-radius: 5px;
}

#cuadroBotones{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#cuadroBotones img{
    height: 40px;
}