.botones {
    background-color: rgb(124, 255, 124);
    width: 470px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 15px;
}

.elenco {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    color: brown;
    border: solid 2px brown;
    margin: 10px;
}

.taquilla {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    color:green;
    border: solid 2px green;
    margin: 10px;
}