form {
    display: flex;
    flex-direction: column;
    border: dashed 2px rgb(36, 126, 156);
    border-radius: 5px;
    background-color: lightblue;
    padding: 10px 15px;
}

form div {
    margin: 5px 0px;
    align-self: flex-start;
}

form p {
    align-self: flex-start;
    margin-bottom: -2px;
}

.opcionesCampo {
    display: flex;
    gap: 10px;
}

#inputGuardar {
    width: 30%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

#cuerpoInsertarDisco {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


#contenedorErrores,
#contenedorExito {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

#contenedorErrores{
    text-align: left;
    color: red;
}

#contenedorExito{
    color: green;
}

#contenedorErrores p {
    margin-right: 0px;
}

#contenedorExito h4 {
    border: solid 2px;
    border-radius: 5px;
}

#contenedorExito p {
    margin-right: 0px;
}

.oculto {
    display: none;
}

.error {
    border: solid 2px red;
    border-radius: 5px;padding: 5px;
    background-color:rgb(240, 128, 128, 0.5);
}