#marcoListado {
    background-color: rgb(36, 126, 156);
    padding: 10px;
    border-radius: 5px;
}

#buscadorListado{
    padding: 10px 0px 20px 10px;
    font-weight: bolder;
    color: white;
    text-align: left;
}

#buscadorListado input{
    width: 40%;
}

#contenedorListado {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50vw;
}