#marcoListado {
    background-color: rgb(36, 126, 156);
    padding: 10px;
    border-radius: 5px;
}

#buscadorListado{
    padding: 10px 0px 20px 10px;
    font-weight: bolder;
    color: white;
    text-align: left;
}

#buscadorListado #inputBuscador{
    width: 40%;
    margin-right: 10px;
}

#contenedorListado {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50vw;
}

#cuerpoCompleto {
    display: flex;
    gap: 20px;
}

#margenOutlet {
    flex: 1;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.formularioEnListado #cuerpoInsertarDisco {
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.formularioEnListado #contenedorErrores,
.formularioEnListado #contenedorExito {
    width: 100%;
    max-width: 500px;
}

.oculto {
    display: none;
}