#colores{
    margin-left: 15px;
    background-color: lightsalmon;
    padding: 10px;
    border-radius: 5px;
    width: auto;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.seleccionado {
    color: black;
    font-weight: lighter;
}

.indicador_color{
    margin-left: 20px;
    border: solid 2px salmon;
    background-color: white;
    color: salmon;
    font-weight: bolder;
    padding: 5px;
    border-radius: 5px;
    width: 300px;
    display: inline-block;
}

table {
    border: solid 2px salmon;
    border-radius: 5px;
    margin: 15px;
}

td {
    width: 5px;
    height: 5px;
}

.oculto {
    display: none;
}

#indicador {
    padding-left: 10px;
}

#azul{
    background-color: blue;
    padding: 10px;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 17px;
    margin-bottom: 17px;
}

#verde{
    background-color: green;
    padding: 10px;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    display: inline-block;
    margin: 5px;
}

#dorado{
    background-color: gold;
    padding: 10px;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    display: inline-block;
    margin: 5px;
}

#rojo{
    background-color: red;
    padding: 10px;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    display: inline-block;
    margin: 5px;
}

#negro{
    background-color: black;
    padding: 10px;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    display: inline-block;
    margin: 5px;
}

#blanco{
    background-color: white;
    padding: 10px;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    display: inline-block;
    margin: 5px;
}

.azul {
    background-color: blue;
}

.verde {
    background-color: green;
}

.dorado {
    background-color: gold;
}

.rojo {
    background-color: red;
}

.negro {
    background-color: black;
}

.blanco {
    background-color: white;
}

button {
    padding: 10px;
    margin: 15px;
    font-weight: bold;
    border: solid 2px black;
    border-radius: 5px;
    background-color: rgb(203, 203, 203);
}