.marcoMostradorDiscos {
    border: solid 2px darkslateblue;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5vw;
    border-radius: 5px;
    background-color: rgb(163, 152, 230);
}

.botones {
    padding: 10px;
    text-align: left;
    margin: 10px;
    border-radius: 5px;
    background-color: darkslateblue;
}

.boton {
    background-color: dodgerblue;
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.buscador {
    border-radius: 5px;
    margin-right: 50px;
}

.mostradorDiscos {
    border: solid 2px dodgerblue;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: white;
}

.caratulaDisco {
    width: 70px;
    border-radius: 5px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 180px;
    margin: 10px;
}

.papelera {
    width: 50px;
}