.tablaMatriculados {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: solid 1px;
    padding: 10px;
}

th {
    background-color: rgb(255, 249, 62);
}

.alumnado2DAW{
    border: solid black 2px;
    background-color: rgb(90, 255, 81);
    display:inline-block;
    margin: 5px;
}

.alumnadoPrimerCurso{
    border: solid black 2px;
    background-color: rgb(255, 174, 53);
    display:inline-block;
    margin: 5px;
}

.alumnadoDAW{
    border: solid black 2px;
    background-color: rgb(105, 157, 255);
    display:inline-block;
    margin: 5px;
}

.alumnadoLector{
    border: solid black 2px;
    background-color: rgb(255, 90, 249);
    display:inline-block;
    margin: 5px;
}

.alumnadoOrdenado{
    border: solid black 2px;
    background-color: rgb(57, 255, 248);
    display:inline-block;
    margin: 5px;
}

.listadoOriginal{
    border: solid black 2px;
    background-color: rgb(255, 255, 255);
    display:inline-block;
    margin: 5px;
}

.desmatricularAlumnado{
    border: solid black 2px;
    background-color: rgb(60, 60, 60);
    color: white;
    display:inline-block;
    margin: 5px;
}