header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
}


#datosPresentacion {
    display: flex;
    background-color: midnightblue;
    width: 100vw;
    align-items: center;
}

img {
    padding: 10px;
    width: 100px;
}

h2 {
    color: white;
}

#barraNavegacion {
    background-color: rgb(71, 71, 160);
    padding: 10px;
}