header{
    position: fixed;
    left: 0%;
    bottom: 84%;
}

#datosPresentacion{
    display: flex;
    background-color:midnightblue;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

img {
    display: block;
    margin-right: auto;
    padding: 10px;
    width: 100px;
}

h2{
    display: block;
    margin-right: auto;
    color: white;
}

#barraNavegacion{
    background-color: rgb(71, 71, 160);
    padding: 10px;
}